header{
    background-color: rgb(54, 51, 51);
    color:white;
    display: flex;
   
    
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
 
}
header .logo{
    font-size: 20px;
    font-weight: bold;
}
main{
    cursor: pointer;
    text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
img{
    width: 35%;
    height: 50%;
}
footer{
    background-color: rgb(14, 13, 13);
    color:white;
    text-align: center;
    padding: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

    
}
